<div class="flex flex-col justify-between h-full p-6">
<%= image_tag 'logo.png', class: 'mx-auto' %>

<div class="flex flex-col gap-3 text-center button-placeholder">
  <%= link_to login_path do %>
    <div class="p-4 rounded bg-[#3778C2] text-white">
      LOG IN
    </div>
  <% end %>
  <%= link_to sign_up_path do %>
    <div class="p-4 rounded">
      SIGN UP
    </div>
  <% end %>
</div>
</div>