<div class="flex flex-col justify-around h-screen p-6">
<%= image_tag 'logo.png', alt: 'logo', class: 'mx-auto' %>

<div class="flex flex-col gap-3 text-center button-placeholder">
  <%= link_to new_user_session_path do %>
    <div class="p-4 rounded bg-[#3778C2] text-white">
      LOG IN
    </div>
  <% end %>
  <%= link_to new_user_registration_path do %>
    <div class="p-4 rounded">
      SIGN UP
    </div>
  <% end %>
</div>
</div>